
/*filter headers*/
.filters-header {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #0b147d;
}

.filter-label {
    cursor: pointer;
    font-weight: 550;
    padding: 12px 20px;
    border-radius: 4px;
    transition: 0.2s;
}

.filter-label:hover {
    background-color: #f0f0f0;
}


/*clean filter button*/
.clean_btn button {
    padding: 12px 20px;
    font-size: 16px;
    background: #4a60e7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.clean_btn button:hover {
    background: #3b4fbe;
    transform: translateY(-2px);
}

.clean_btn button:active {
    transform: translateY(0px);
}

/*active filter section*/
.filter-section {
    background: #fafafa;
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
    border-radius: 6px;
}

.checkbox-row, .radio-row {
    display: flex;
    align-items: center;
    gap: 6px;
}


.checkbox-container, 
.radio-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px 20px;
}

/* Responsive */
@media (max-width: 1322px) {
.checkbox-container, 
.radio-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px 20px;
}
}

