/* Basic reset */
* {
    box-sizing: border-box;
}

body {
    color: #013457;
    line-height: 1.6;
}

/* Main Container */
.container {
    width: 99%;
    display: flex;
    margin: 30px auto;
}

/* Card sections */
.card {
    width: 33%;
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.card h2 {
    margin-bottom: 15px;
    text-align: left;
    color: #4a60e7;
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.card ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 1210px) {
.container {
    flex-direction: column;
}
.card {
    width: 99%;
}
}



