<body>
    <div class="allEpisodes">

    @for (result of results; track $index) {
        <div class="oneEpisode">
            @if (result.image != null) {
                <div class="image">
                     <img src = {{result.image.medium}}>
                </div>
            }

            <div class="details">
                <li>Episode id: {{result.id}} </li>
                <li>episode name: {{result.EpisodeName}}</li>
                <li>season: {{result.numSeason}}</li>
                <li>episode:{{result.numEpisode}}</li>
                <li>summary: {{result.summary}}</li>
            </div>
        </div>
    }
    </div>

</body>
